@import 'normalize.css';
@import 'variables';
@import 'fonts';
@import 'header';
@import 'main';
@import 'footer';
@import 'themes';


html {
  scroll-behavior: smooth;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;

  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  background-color: var(--bg-color);
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
